<div id="498">
  <div class="container text-center">
<h1> Lo sentimos, el enlace está caducado o <br /> <span class="mobile-spacer"> & nbsp; </span> ya se ha utilizado.
</h1>
    
<hr />
     <div class="help">
         <p> ¿Necesita más ayuda para acceder a su cuenta? <br /> <span class="mobile-spacer"> & nbsp; </span> Por
    favor, <a href="/contact"> póngase en contacto con el servicio de asistencia </a> o solicite una nueva <a href="/password/forgot">
      restablecimiento de contraseña. </a> </p>
         <a class="btn btn-lg btn-outline-dark" href="/password/forgot"> Restablecer contraseña </a>
       </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
