<div id="500">
  <div class="container text-center">
    <h1 class="display-1 mb-3">Oh my.</h1>
    <hr/>
<h2> Hemos detectado un error inesperado. </h2>
     <div class="help">
         <p>
    <!-- Pero marque mis palabras, la persona responsable recorrerá la tabla para esto. <br /> <span class="mobile-spacer">
      & nbsp; </span>--> ¿Necesita ayuda con su cuenta? ? <a href="/contact"> háganoslo saber </a>. </p>
         <a class="btn btn-lg btn-outline-dark" href="/contact"> Abrir una solicitud de ayuda </a>
    </div>
  </div>
</div>
