<div id="privacy">
  <div class="container">
    <h1>HiperSoft Privacy Policy</h1>
    <hr/>
<h3> Información general </h3>

    <p> En HiperSoft creemos que es importante que usted entienda qué tipo de información recopilamos y qué puede
  suceder con esa información cuando utiliza nuestro sitio web y las aplicaciones y recursos relacionados (en conjunto,
  el "Servicio"). Esta Política de privacidad está diseñada para explicar las políticas y procedimientos de
  NEW_APP_COMPANY con respecto a la recopilación, el uso y la divulgación por parte de NEW_APP_COMPANY de su
  información en relación con el Servicio. Esta Política de privacidad tiene un alcance limitado y se aplica solo al
  Servicio. </p>

    <p> Al acceder al Servicio, usted acepta la recopilación, el uso y la divulgación de su información personal como
  se explica en esta política de privacidad (la "Política de privacidad"). Esta Política de privacidad está incorporada
  y está sujeta a los Términos de servicio, a los que se puede acceder <a href="/terms"> aquí </a>. Su uso del Servicio
  y cualquier información que proporcione a través del Servicio está sujeta a los términos de esta Política de
  privacidad y nuestros Términos de servicio. </p>

    <h3> ¿Qué encontrarás en esta política de privacidad? </h3>
    <ol>
        <li> Cómo recopilamos información sobre usted </li>
        <li> Cómo usamos o compartimos información sobre usted </li>
        <li> Cómo protegemos tu información </li>
        <li> Otros asuntos relacionados con la información que recopilamos sobre usted </li>
      </ol>

    <h4> RECOLECCIÓN DE INFORMACIÓN </h4>

    <p> Recopilamos información sobre usted de diversas maneras en relación con el Servicio. </p>

    <p> REGISTRO. Para usar algunas funciones y recursos disponibles a través del Servicio, un usuario debe completar
  nuestro proceso de registro. Durante el registro, se requiere que el usuario proporcione ciertas categorías de
  información, que pueden incluir información personal identificable y otra información sobre usted, como su nombre,
  dirección, dirección de correo electrónico, información de la cuenta de la red social, contraseña, tipo de usuario,
  fecha de nacimiento, género , el número de teléfono y cómo se enteró de NEW_APP_COMPANY. </p>

    <p> INFORMACIÓN OPCIONAL. En otros puntos durante el uso del Servicio, puede tener la opción de proporcionar
  información adicional relacionada con usted. Por ejemplo, puede desear crear un perfil, publicar, comentar en la
  publicación de otro usuario o compartir una publicación con otra persona, o puede utilizar integraciones de redes
  sociales o funciones basadas en la ubicación del Servicio. Para actividades voluntarias como estas, tiene la opción
  de divulgar la información necesaria para usar estas funciones del Servicio. </p>

    <p> RECOLECCIÓN PASIVA DE INFORMACIÓN. Además de la información que nos proporciona activamente mediante métodos
  como completar nuestro proceso de registro, comentar o compartir una publicación, recopilamos información sobre cómo
  interactúa con el Servicio. Recopilamos información pasiva para fines tales como probar y mejorar la experiencia del
  usuario con el Servicio y la recopilación de datos demográficos e información de uso relacionada para fines internos
  y para su divulgación a terceros, como anunciantes y socios comerciales. Los tipos de información pasiva que
  recopilamos incluyen, sin limitación, cierta información estándar enviada por su navegador, como su dirección de
  Protocolo de Internet (IP), la identificación de su dispositivo, el tipo y capacidades de su navegador y su idioma,
  su sistema operativo, la fecha y la hora accede al Servicio y al sitio web de referencia desde el cual se vinculó al
  Servicio. También recopilamos información relacionada con su comportamiento dentro del Servicio (como las páginas
  visitadas, los enlaces en los que se hizo clic y otras acciones tomadas dentro del Servicio). También podemos
  utilizar enlaces especiales, imágenes electrónicas u otros objetos incrustados en el Sitio, a veces denominados
  balizas web o píxeles de seguimiento, para recopilar información que ayude a determinar y analizar cómo usted y otros
  visitantes usan el Sitio. Si nos ha proporcionado información personal a través del registro u otros medios
  voluntarios, podemos conectar su información personal con información pasiva recopilada a través de nuestro Sitio y
  utilizar la información combinada para ayudarlo a determinar sus intereses potenciales en ciertos productos,
  servicios o información y para otros fines. descrito en esta Política de privacidad. </p>
<p> COOKIES. La información relacionada con sus interacciones con el Servicio puede ser recopilada y almacenada por
  nosotros en pequeños archivos de datos, comúnmente conocidos como cookies, que nuestros servidores colocan en su
  dispositivo. Es posible que utilicemos cookies de sesión temporales, que se cancelan cuando cierra su sesión actual,
  para almacenar cierta información personal que nos proporciona con el fin de administrar esa sesión y facilitar las
  transacciones solicitadas por usted durante esa sesión. También podemos usar cookies persistentes, que permanecen
  guardadas en su dispositivo después de que se cierre su sesión actual, para almacenar información relacionada con sus
  interacciones con el Servicio para facilitar futuras sesiones. La mayoría de los navegadores aceptan cookies
  automáticamente, pero generalmente puede modificar la configuración de su navegador para rechazar las cookies o para
  notificarle cuando se coloca una cookie en su dispositivo. Cada navegador es diferente, pero generalmente los
  usuarios pueden eliminar las cookies siguiendo las instrucciones proporcionadas en el archivo de "ayuda" del
  navegador. Tenga en cuenta que, si rechaza las cookies o las deshabilita, es posible que algunas funciones del
  Servicio no funcionen correctamente. </p>

    <p> RECOLECCIÓN DE INFORMACIÓN DE MENORES. El Servicio está destinado a una audiencia general y no está dirigido a
  niños menores de 13 años. El uso del Servicio está prohibido para cualquier persona menor de 13 años. Si tiene entre
  13 y 18 años de edad, debe obtener la autorización. de sus padres o tutor legal antes de usar el Servicio. Aunque el
  Servicio puede contener información que pueda ser de interés para los niños, no está dirigido a los niños y no
  recopilamos ni solicitamos a sabiendas información personal de niños menores de 13 años. </p>

    <h4> USO Y COMPARTIR DE LA INFORMACIÓN </h4>

    <p> El servicio permite que los usuarios publiquen, accedan y compartan contenido generado por el usuario y otra
  información en la comunidad NEW_APP_COMPANY, otras redes sociales y otros sitios web y servicios en línea, y pueden
  incluir varias características y funcionalidades como comentarios, tableros de mensajes o chat. áreas, donde los
  usuarios pueden publicar información y comunicarse entre sí. Tenga en cuenta que estas publicaciones y comunicaciones
  se publican en línea y usted lo hace bajo su propio riesgo. </p>

    <p> No utilizaremos, compartiremos ni transferiremos a sabiendas información sobre usted de otra manera que no sea
  de acuerdo con los términos establecidos en esta Política de privacidad. Además, podemos usar, compartir o transferir
  su información para otros fines para los cuales hemos obtenido su consentimiento. Su consentimiento puede ser
  implícito, considerado (utilizando un mecanismo de exclusión voluntaria) o expreso. El consentimiento expreso se
  puede dar oralmente, electrónicamente o por escrito. El consentimiento implícito es el consentimiento que se puede
  inferir razonablemente de su acción o inacción. Independientemente de su decisión con respecto a compartir su
  información personal, podemos compartir datos demográficos e información de uso relacionada con nuestros socios
  comerciales de manera agregada o anónima con la intención de eliminar u ocultar cualquier información personal que
  pueda identificar a cualquier usuario individual. </p>

    <p> Podemos utilizar su información para enviarle productos y servicios y personalizar el Servicio según sus
  intereses y mejorar su experiencia general con el Servicio. Intentamos reconocerlo utilizando varios métodos,
  incluido el inicio de sesión con su nombre de usuario y su contraseña. Una vez que lo reconocemos, su experiencia
  puede ser personalizada para que pueda ver lo que más le interesa. Además, como se describe anteriormente, utilizamos
  información pasiva para aprender más sobre cómo interactúa con el Servicio. Esta información pasiva puede combinarse
  con otra información y usarse con fines tales como mejorar su experiencia al usar el Servicio, mejorar el Servicio,
  probar y mejorar la seguridad y la compilación de datos demográficos y la información de uso relacionada para
  nuestros propósitos internos y para otros fines descritos en este Política de privacidad. </p>

    <p> Si bien nos esforzamos por proteger la información personal de nuestros usuarios, podemos usar, compartir o
  transferir su personal sin su conocimiento o consentimiento si así lo exigen las leyes o los requisitos
  reglamentarios aplicables o la creencia de buena fe de que dicha acción es necesario o apropiado. </p>
<p> De vez en cuando, podemos decidir que es más eficiente utilizar a terceros para realizar funciones específicas
  relacionadas con el Servicio. Si utilizamos a un tercero para realizar funciones específicas (como enviar
  comunicaciones a nuestros usuarios en nuestro nombre), entonces la información (como la información de contacto) se
  puede compartir con ese tercero en la medida necesaria para que ese tercero realice esa función. . Autorizamos a
  estos proveedores de servicios de terceros a utilizar información de identificación personal solo con el fin de
  proporcionar los servicios específicos que solicitamos. Los proveedores de servicios de terceros cubiertos por este
  párrafo no incluyen sitios, aplicaciones o servicios de terceros a los que se accede a través de enlaces dentro del
  Servicio, que se rigen por una disposición más específica a continuación. </p>

    <p> Si opta por una función que permite que terceros se comuniquen con usted, su información personal (como su
  información de contacto y otra información recopilada durante su visita al Servicio) puede compartirse con
  agregadores de datos, comercializadores y otras organizaciones (posiblemente en forma de alquiler de lista). </p>

    <p> En el caso de que vendamos, asignemos o transfiramos parte o todo nuestro negocio a un sucesor o adquirente,
  podemos vender, asignar o transferir toda su información, independientemente de su estado, a dicho sucesor o
  adquirente. </ p>

      <h4> SEGURIDAD </h4>

      <p> Tenemos medidas de seguridad para proteger contra el acceso no autorizado de información de identificación
    personal bajo nuestro control. Utilizamos métodos de seguridad tanto en línea como fuera de línea, incluidos
    firewalls, contraseñas y acceso físico restringido a los lugares donde se almacena su información para ayudar a
    proteger la información de identificación personal. Nuestro personal está capacitado para cumplir con nuestros
    procedimientos de seguridad, y nuestros procedimientos de seguridad se revisan y revisan periódicamente según lo
    consideremos necesario. </p>

      <h4> CÓMO PUEDE ACCEDER Y ACTUALIZAR SU INFORMACIÓN </h4>

      <p> Nuestro objetivo es que la información personal en nuestro poder sea tan precisa, actual y completa como sea
    necesario para los fines para los que usamos esa información. Si desea revisar, verificar o corregir su información
    personal, comuníquese con nosotros utilizando la información de contacto que se detalla a continuación. Nos
    reservamos el derecho de no cambiar ninguna información personal y, en su lugar, agregar cualquier información
    alternativa que la persona en cuestión considere adecuada. Hasta cierto punto, dependemos de individuos para
    actualizar su propia información personal. A menos que un individuo nos avise de estos cambios importantes, es
    posible que no tengamos forma de conocerlos. </p>

      <p> El estado de California promulgó la ley Shine the Light (Código Civil de California, sección 198.83) que
    permite a los usuarios que son residentes de California solicitar cierta información con respecto a la divulgación
    de información personal durante el año pasado con fines de comercialización. Para realizar dicha solicitud, puede
    <a href="/contact"> contactarnos </a>. </p>
<h4> LAS LISTAS DE CORREO ELECTRÓNICO Y CÓMO DESEMBOLSAR </h4>

    <p> Podemos usar su información de contacto periódicamente para enviarle correos electrónicos u otras
  comunicaciones relacionadas con las actualizaciones del Servicio y para alertarlo o recordarle los acontecimientos
  relacionados con el Servicio. La frecuencia de estos mensajes variará dependiendo de varios factores. </p>

    <p> Si ya no desea recibir correos electrónicos de nuestra parte y quiere que lo eliminemos de nuestra lista de
  correo electrónico, <a href="/contact"> contáctenos </a> e incluya "Cancelar correo electrónico" en el Cuerpo de tu
  mensaje. Si elige darse de baja de nuestras listas de correo, mantendremos su información de contacto en el archivo
  marcado para que no lo contactemos de manera involuntaria si un tercero nos proporciona sus datos posteriormente. </p>

    <h4> OTRAS DISPOSICIONES </h4>

    <p> Su uso del Servicio indica una aceptación de los términos de la Política de Privacidad. Nos reservamos el
  derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Publicaremos cualquier versión
  revisada de esta Política de privacidad en nuestro sitio web, y lo alentamos a que la vuelva a consultar
  periódicamente. Los cambios contenidos en cualquiera de las versiones revisadas de esta Política de privacidad serán
  efectivas a partir del momento en que se publique dicha versión revisada, a menos que se especifique lo contrario.
</p>

    <p> Esta Política de privacidad no crea ni confiere ningún derecho a ningún individuo, ni impone a NEW_APP_COMPANY
  ningún derecho u obligación fuera de, o además de, cualquier derecho u obligación impuesta por las leyes de
  privacidad de la jurisdicción de dicho individuo, según corresponda. La legislación de privacidad o el derecho a la
  privacidad de una persona puede diferir de una jurisdicción a otra. Los derechos y obligaciones descritos en esta
  Política de privacidad pueden no aplicarse a todas las personas o en todas las jurisdicciones. En caso de que exista,
  en un caso específico, alguna inconsistencia entre esta Política de privacidad y las leyes de privacidad aplicables
  de la jurisdicción de dicha persona, esta Política de privacidad se interpretará, con respecto a ese caso, para dar
  efecto y cumplir con dichas leyes de privacidad. . </p>

    <p> Tenga en cuenta que, al acceder a nuestro Servicio, usted reconoce que nuestros servidores se encuentran
  actualmente en los Estados Unidos y que las diversas comunicaciones necesariamente resultan en la transferencia de
  información a través de las fronteras internacionales. Al acceder al Servicio y comunicarse electrónicamente con
  nosotros, usted acepta el procesamiento y la transferencia de su información personal tal como se establece en esta
  Política de privacidad. La información personal recopilada por nosotros puede ser almacenada y procesada en los
  Estados Unidos de América o en cualquier otro país en el que tengamos instalaciones. La información personal
  recopilada por nosotros puede ser transferida entre nuestras diversas divisiones y compañías afiliadas en todo el
  mundo, lo que puede implicar la transferencia de países dentro del Área Económica Europea a países fuera del Área
  Económica Europea. Al elegir acceder al Servicio, usted acepta la transferencia, el almacenamiento o el procesamiento
  de datos personales fuera de su país. </p>
<p> Esta Política de privacidad se aplica únicamente a la información recopilada por nosotros en línea a través del
  Servicio y no se aplica a ningún sitio web, aplicación o servicio que no sea el Servicio. El Servicio contiene
  enlaces a otros sitios web, aplicaciones y servicios proporcionados por terceros que no poseemos o controlamos, y no
  somos responsables de las políticas y prácticas de privacidad de dichos terceros. Del mismo modo, no somos
  responsables de las políticas y prácticas de privacidad de otros sitios web, aplicaciones y servicios desde los
  cuales se haya vinculado a nuestro Servicio. Le recomendamos que esté atento cuando abandone nuestro Servicio y lea
  las políticas de privacidad de todos y cada uno de los terceros que puedan proporcionar sitios web, aplicaciones o
  información vinculada al Servicio. </p>

    <p> Esta Política de privacidad puede incluir ejemplos, pero no pretende estar restringida en su aplicación a
  dichos ejemplos, por lo que "incluir" significa "incluir sin limitación". </p>

    <p> Su privacidad es importante para nosotros. Si tiene alguna pregunta sobre alguna de las disposiciones descritas
  anteriormente, <a href="/contact"> contáctenos </a>. </p>

    <p> Última actualización: HiperSoft </p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
